:root {
    --furia-red: #8b1d1d;
    --furia-black: #0d0d0d;
    --furia-gray: #1a1a1a;
    --furia-gold: #b89343;

}

body {
    background-color: var(--furia-black);
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h1 {
    letter-spacing: 10px;
    font-size: 2.5rem;
    margin: 0;
    color: var(--furia-red);
     text-shadow: 0 4px 12px var(--furia-red);
    
}

.btn-card {
    background-color: var(--furia-red);
    color: white;
    border: none;
    padding: 18px;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
}
.btn-reserva {
    background-color: var(--furia-red);
    color: white;
    border: none;
    padding: 18px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 10px;
    align-items: center;

}

fieldset {
    border: 9px solid #b89343;
    border-radius: 15px;
    margin: 5px 10px 5px 10px;
    max-width: 500px;
    box-shadow: 0 4px 12px var(--furia-red);
    padding: 20px;
    backdrop-filter: blur(10px);
    text-align: left;
}

legend {
    font-weight: bold;
    color: var(--furia-red);
    font-size: 1.3rem;
    padding: 0 10px;
    text-shadow: 0 4px 12px var(--furia-red);
}




input {
    
    border: #b89343;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    
    padding: 0 10px;
    text-shadow: 0 4px 12px var(--furia-red);
}

/*label {
     font-weight: bold;
    color: var(--furia-gold);
    font-size: 1.3rem;
    padding: 0 10px;
    text-shadow: 0 4px 12px var(--furia-gold);
    

} */
::placeholder {
    color: black;
}

.input-group {
position: relative;
margin-top: 10px;
margin-bottom: 10px;
width: 100%;
}

.input-group input {
    
    width: 100%;
    box-sizing: border-box;
    background-color: var(--furia-red);
    border: 2px solid var(--furia-gold);
    border-radius: 6px;
    padding: 12px;
    color: white;
    outline: none;
    font-size: 1rem;
    
}
.input-group label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: var(--furia-gold);
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 1rem;
    text-shadow: none;
}
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: -12px;
    left: 8px;  
    font-size: 0.8rem;
    color: var(--furia-gold);
    text-shadow: 0 0 8px var(--furia-gold);
    background-color: var(--furia-black);
    padding: 0 5px;
    z-index: 10;
}

.input-group input:focus {
    border-color: var(--furia-gold);
}